<nav class="nav--desktop">
  <a href="{{ '/' | relative_url }}" class="nav__home">
    <img src="{{ '/assets/img/jtbd_pro_logo_rev.svg' | fingerprint }}" class="nav__logo--rev" alt="JTBD.pro" width="159"/>
    <img src="{{ '/assets/img/jtbd_pro_logo.svg' | fingerprint }}" class="nav__logo" alt="JTBD.pro" width="159"/>
  </a>
  <div class="nav__items">
    <span class="dropdown">
      <a href="#" class="nav__item">Services</a>
      <span class="dropdown__items">
        <span class="dropdown__sectionhead">By Role</span>
        <a class="dropdown__item" href="/marketers">Marketers</a>
        <a class="dropdown__item" href="/product-designers">Product Designers</a>
        <a class="dropdown__item" href="/managers">Managers</a>
        <hr>
        <span class="dropdown__sectionhead">By Company Size</span>
        <a class="dropdown__item" href="/early-stage">Early stage</a>
        <a class="dropdown__item" href="/mid-Market/Enterprise">Mid Market/Enterprise</a>
      </span>
    </span>

    <a class="nav__item" href="/contact">Why Jobs to be Done</a>

    <span class="dropdown">
      <a href="#" class="nav__item">Resources</a>
      <span class="dropdown__items">
        <a class="dropdown__item--has-desc" href="/marketers">
          <span class="dropdown__itemhead">Blog</span>
          <span class="dropdown__itemsub">Latest thinking on research, sales and marketing, product management, startups and more.</span>
        </a>
        <a class="dropdown__item--has-desc" href="/marketers">
          <span class="dropdown__itemhead">Case Studies</span>
          <span class="dropdown__itemsub">See how customers like Microbric are using Jobs to be Done.</span>
        </a>
        <a class="dropdown__item--has-desc" href="{{ site.lesson_url }}">
          <span class="dropdown__itemhead">Lessons</span>
          <span class="dropdown__itemsub">Information to learn how to practically apply Jobs to be Done.</span>
        </a>
      </span>
    </span>

    <a class="nav__item" href="/price">Price</a>
    <a class="nav__item" href="/about">About</a>
    <a class="nav__item" href="/contact">Contact</a>
  </div>
</nav>

<nav class="nav--mobile">
  <a href="{{ '/' | relative_url }}" class="nav__home">
    <img src="{{ '/assets/img/jtbd_pro_logo_rev.svg' | fingerprint }}" class="nav__logo--rev" alt="JTBD.pro" width="159"/>
    <img src="{{ '/assets/img/jtbd_pro_logo.svg' | fingerprint }}" class="nav__logo" alt="JTBD.pro" width="159"/>
  </a>
  <button class="menutoggle" id="menutoggle" data-target="mobile_menu_01">
    <img src="{{ '/assets/img/menu.svg' | fingerprint }}" class="menutoggle__open" alt=""/>
    <img src="{{ '/assets/img/close.svg' | fingerprint }}" class="menutoggle__close" alt=""/>
  </button>
  <div class="menutoggle__menu" id="mobile_menu_01">
    <span class="menutoggle__group">
      <a href="#" class="menutoggle__sectionhead">Services</a>
      <span class="menutoggle__items">
        <span class="menutoggle__sectionhead">By Role</span>
        <a class="menutoggle__item" href="/marketers">Marketers</a>
        <a class="menutoggle__item" href="/product-designers">Product Designers</a>
        <a class="menutoggle__item" href="/managers">Managers</a>
        <hr>
        <span class="menutoggle__sectionhead">By Company Size</span>
        <a class="menutoggle__item" href="/early-stage">Early stage</a>
        <a class="menutoggle__item" href="/mid-Market/Enterprise">Mid Market/Enterprise</a>
      </span>
    </span>

    <a class="nav__item" href="/contact">Why Jobs to be Done</a>

    <span class="nav__group">
      <a href="#" class="menutoggle__sectionhead">Resources</a>
      <span class="menutoggle__items">
        <a class="menutoggle__item--has-desc" href="/marketers">
          <span class="menutoggle__itemhead">Blog</span>
          <span class="menutoggle__itemsub">Latest thinking on research, sales and marketing, product management, startups and more.</span>
        </a>
        <a class="menutoggle__item--has-desc" href="/marketers">
          <span class="menutoggle__itemhead">Case Studies</span>
          <span class="menutoggle__itemsub">See how customers like Microbric are using Jobs to be Done.</span>
        </a>
        <a class="menutoggle__item--has-desc" href="{{ site.lesson_url }}">
          <span class="menutoggle__itemhead">Lessons</span>
          <span class="menutoggle__itemsub">Information to learn how to practically apply Jobs to be Done.</span>
        </a>
      </span>
    </span>

    <a class="nav__item" href="/price">Price</a>
    <a class="nav__item" href="/about">About</a>
    <a class="nav__item" href="/contact">Contact</a>
  </div>
</nav>
