<nav class="nav">
  <a href="{{ '/' | relative_url }}" class="nav__home">
    <img src="{{ '/assets/img/jtbd_pro_logo_rev.svg' | fingerprint }}" class="nav__logo--rev" alt="JTBD.pro" width="159"/>
    <img src="{{ '/assets/img/jtbd_pro_logo.svg' | fingerprint }}" class="nav__logo" alt="JTBD.pro" width="159"/>
  </a>
  <div class="nav__items">
    <a class="nav__item" href="/training">Training</a>
    <a class="nav__item" href="{{ site.lesson_url }}">Lessons</a>
    <a class="nav__item" href="/contact">Contact</a>
    <a class="nav__item" href="/about">About</a>
  </div>
  <a class="button--secondary_rev nav__signin" href="{{ site.lesson_url }}">Sign in</a>
</nav>
