.nav {
  display: block;
  padding: 20px;
}

.nav__logo {
  display: inline-block;
  margin: -2px 0 0 -3px
}

.nav__home {
  font-size: 14px;
  text-decoration: none;
  margin-right: 12px;
  flex: 0;
}

.nav__items {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 5px;
}

.nav__item {
  text-decoration: none;
  padding: 18px 0;
}

a.nav__signin {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
  text-transform: uppercase;
}

@media all and (min-width: 769px) {
  .nav {
    display: flex;
    padding: 7vw 40px;
    margin: 0 auto;
  }
  .nav__home {
    margin-right: 12px;
    flex: 1;
  }

  .nav__items {
    padding-right: 20px;
  }

  .nav__item {
    padding: 18px;
  }

  a.nav__signin {
    position: relative;
    top: auto;
    right: auto;  
    margin: 12px 0;
  }

}
