<div class="group--white">
  <div class="section--rev_end_desk">
    <div class="column--flex">
      <div class="profile">
        <img src="{{ '/assets/img/profile_david.png' | fingerprint }}" alt="David Herse" class="profile__img"/>
        <p>David Herse</p>
        <div class="profile__social">
          <a href=""><img src="{{ '/assets/img/twitter-square.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href=""><img src="{{ '/assets/img/medium.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>
      <div class="profile">
        <img src="{{ '/assets/img/profile_greg.png' | fingerprint }}" alt="Greg Le Sueur" class="profile__img"/>
        <p>Greg Le Sueur</p>
        <div class="profile__social">
          <a href=""><img src="{{ '/assets/img/twitter-square.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href=""><img src="{{ '/assets/img/medium.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>

    </div>
    <div class="column--tight">
      <h3>Lessons from industry professionals</h3>
      <p>Dave and Greg have a combined experience of over 15 years in product development. Using their practical industry experience of Jobs-to-be-Done, they’ll take you step-by-step on how to turn your Jobs-to-be-Done interviews into successful products.</p>
    </div>
  </div>
</div>
