<div class="footer">
  <div class="footer__sections">
    <section class="footer__section">
      <p class="footer__sectionhead">Use Cases</p>
      <a href="/marketers" class="footer__link">Marketers</a>
      <a href="/product-designers" class="footer__link">Product Designers</a>
      <a href="/managers" class="footer__link">Managers</a>
    </section>
    <section class="footer__section">
      <p class="footer__sectionhead">Resources</p>
      <a href="{{ site.lesson_url }}" class="footer__link">Lessons</a>
    </section>
    <section class="footer__section">
      <p class="footer__sectionhead">Company</p>
      <a href="/about" class="footer__link">About</a>
      <a href="/contact" class="footer__link">Contact Us</a>
      <a href="/terms" class="footer__link">Terms</a>
      <a href="/privacy" class="footer__link">Privacy</a>
      <p class="footer__copywrite">© Let’s Make One Pty Ltd</p>
    </section>
    <section class="footer__section">
      <p class="footer__sectionhead">From the blog</p>
      <a href="https://jtbd.info/using-jobs-to-be-done-in-a-marketing-workshop-b67644b57d22" class="footer__link">Using Jobs-to-be-Done in a Marketing workshop</a>
      <a href="https://jtbd.info/top-10-tips-for-introducing-jobs-to-be-done-theory-to-your-company-259ad424643d" class="footer__link">Top 10 tips for introducing Jobs-to-be-Done theory to your company</a>
      <a href="https://jtbd.info/what-to-do-with-all-your-jtbd-research-84b92774f42f" class="footer__link">What to do with all your JTBD research</a>
      <a href="https://jtbd.info/top-8-tips-for-jtbd-interviews-6739c88f1cc9" class="footer__link">Top 8 tips for JTBD Interviews</a>
    </section>
  </div>
</div>
