.footer {
  background-color: $white;
  font-size: 18px;
  color: $grey; 
  padding: 40px 40px 40px 40px;
  p {
    font-size: 18px;
    color: $grey; 
    margin-bottom: 10px;
  }
}

.footer__sectionhead {
  font-weight: bold;
}

.footer__section {
  display: block;
  padding: 10px 0;
  min-width: 224px;

    border-bottom: 1px solid $midnight;

}

.footer__logo,
.footer__link {
  display: block;
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

p.footer__copywrite {
  font-size: 16px;
}


@media all and (min-width: 769px) {
  .footer__sections {
    display: flex;
    flex-basis: auto; 
  }

  .footer__section {
    width: 25%;
    padding-left: 30px;
      padding-left: 0px;
      border-bottom: 0px solid $midnight;
    
  }
}
