---
layout: default

---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section--rev_desk">
    <div class="column">
      <div class="cart">
        <h2>Course: <span class="bold">Applying Jobs-to-be-Done</span></h2>
        <p class="price">
          <img src="{{ '/assets/img/cart.svg' | fingerprint }}" alt="" class="icon--cart"/>
            <span class="price__value">$49</span> for 3 lessons</p>

        {% if page.redirect_to %}
         <h3>Redirecting...</h3>
          <a href="{{ page.redirect_to }}">Click here if you are not redirected.</a>
          <script>location='{{ page.redirect_to }}'</script>
        {% else %}
        <p class="out-stock">Sorry, course unavailable.</p>
        <p>We are updating this course with new exciting material.</p>
        <div class="register">
          <p class="register__cta">Notify me when it’s back in stock.</p>
          <!-- Begin MailChimp Signup Form -->

          <form action="https://davidherse.us2.list-manage.com/subscribe/post?u=2a37f7b7a4cf3667e61357bf6&amp;id=212b042448" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <input type="hidden" name="PRODUCT" class="" id="mce-PRODUCT" value="jtpd" >
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_2a37f7b7a4cf3667e61357bf6_212b042448" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>

        </div>
        {% endif %}
      </div>
    </div>
    <div class="column">
      <h2>Who’s this for?</h2>
         <p>This is a practical guide for individuals looking to apply the Jobs-to-be-Done Theory. It’s suitable for anyone responsible for researching and facilitating product development. From designers in large established business to entrepreneurs starting out. The information is valuable for people creating software products, services or physical items. We recommended some knownledge of <a href="https://www.amazon.com/Competing-Against-Luck-Innovation-Customer/dp/0062435612">Jobs-to-be-Done Theory</a> and <a href="http://jobstobedone.org/">interview techniques</a> before starting.</p>

      <h2>What do you get?</h2>
      <p>This course includes access to 3 downloadable step-by-step lessons. It covers the fundamentals of Jobs-to-be-Done research and advanced detail on how to unlock your findings to drive innovation.</p>
    </div>
    </div>
  </div>
</div>

<div class="group--yellow">
  <div class="section--centre">
    <p class="guarantee">100% money back guarantee. If this does not help you create better products, we’ll give you your money back.</p>
    <a href="/cart" class="button--secondary_white">Buy 3 Lessons</a>
  </div>
</div>
<div class="diagonal--yellow_grey"></div>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
