---
layout: default
---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Jobs to be Done for Product Designers</h1>
      
        <h2>Provide real value to customers. </h2>
        <p>How can you create things that provide real value to customers? Why do customers choose one product over another? How do some products manage to disrupt and innovate while others stay stagnate? How do you tip the probability of success in our favour?</p>

        <h2>A repeatable method that delivers results.</h2>
        <p>Jobs to be Done is a tool you use when you want to innovate a product. It provides a repeatable method to understand how to create and sell things people love. Jobs to be Done research is all about tracing this journey, understanding the competing forces, considerations and context. It’s about uncovering the opportunities to create and hone something people will love.</p>
    </div>

    <div class="column">
      <img src="{{ '/assets/img/undraw_user_flow_vr6w.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
        <h1 id="register" class="column__h1--left_mobile">Create successful products</h1>
        <h2>Find clear guidance on how to grow through innovation.</h2>
        <p>A well-defined Job offers a kind of innovation blueprint. It provides clear guidance for companies looking to grow through innovation. At its heart, Jobs to be Done Theory explains why customers pull certain products and services into their lives, and describe the progress they are trying to make.</p>

        <h2>Understand the Job your product is hired for.</h2>
        <p>When you understand the Jobs your product is hired for, it can inform your entire product strategy. You can be more strategic about where you focus your efforts, creating products that hits the mark for your customers.</p>
      
    </div>

    <div class="column">
      <img src="{{ '/assets/img/undraw_post_online_dkuk.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Find focus</h1>
        <h2>Align your team and their goals.</h2>
        <p>Use Jobs to be Done research to align teams and give your company a north star to aim towards. Once you know why your customers are hiring your product, roadmaps and idea prioritisation become more obvious. </p>

        <h2>Clearly communicate your customers desired progress.</h2>
        <p>A Job has a particular structure to help focus on the situation, motivation and desired progress of a customer. This allow everyone to get on the same page and understands how their work fits in with the customers goals. This in turn leads to more coherent end-to-end customer solutions and support.</p>

    </div>

    <div class="column">
      <img src="{{ '/assets/img/undraw_brainstorming_49d4.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
            <h1 id="register" class="column__h1--left_mobile">Uncover opportunities</h1>

        <h2>Identify your customers struggles.</h2>
        <p>Find out where the pain points are in your customers journey and then innovate to improve or remove them. Work out how customers are ‘hacking’ your product to fit their needs. Then use this information to create new products that are easier, faster, cheaper or more reliable than what they are currently hiring.</p>

        <h2>Find your true competition.</h2>
        <p>You would be surprised to learn who you are truly competing with and how those competitors might be solving your customers job better then you are. Jobs to be Done Theory allows you to redefine your competitors beyond the obvious direct competitors offering a similar solution to you. This allows you to break out of the confines of tradition category thinking and draw from a wider customer base.</p>
    </div>

    <div class="column">
      <img src="{{ '/assets/img/undraw_wireframing_nxyi.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>
  
</div>


<div class="group--grey-light">
  {% include components/cta/index.html %}
</div>
