---
layout: default
---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section--min-heigth-400">
    <div class="column--header">
      <h1 id="register" class="header__h1">Make things that people love.</h1>
      <p class="header__p">We are customer research and coaching specialists applying Jobs to be Done Theory to help businesses succeed.</p>

      <a href="/contact" class="button">Get in touch</a>
    </div>

    <div class="column">
      <img src="{{ '/assets/img/header_making.png' | fingerprint }}" class="header__img" alt=""/>
    </div>
  </div>
</div>

<div class="group--callout">
  <div class="section">
    <div class="highlights">
      <a href="/marketers"  class="highlight">
        <h2 href="/marketers" class="highlight__h2">Jobs to be Done for Marketers</h2>
        <p class="highlight__p">Improve the sale of a product. Truly understand your customer. Create effective marketing strategies.</p>
        <span class="highlight__learn-more">Learn more →</span>
      </a>
      <a href="/marketers" class="highlight">
        <h2 class="highlight__h2">Jobs to be Done for Product Designers</h2>
        <p class="highlight__p">Uncover opportunities. Create innovative products.</p>
         <span  class="highlight__learn-more">Learn more →</span>
      </a>
      <a href="/marketers" class="highlight">
        <h2 class="highlight__h2">Jobs to be Done for Managers</h2>
        <p class="highlight__p">Unify the direction of your team. Train staff on effective research and ideation techniques.</p>
         <span href="/marketers" class="highlight__learn-more">Learn more →</span>
      </a>
    </div>
  </div>
</div>

<div class="group--grey-light">
  <div class="section">
    <div class="column">
      <h1 class="column__h1">Why companies use Jobs to be Done.</h1> 
    </div>
  </div>   
  <div class="section--no-pad-top">
      <div class="column--flex-start">
        <div class="column__icons">
          <img src="{{ '/assets/img/customer.svg' | fingerprint }}" class="" alt=""/>
        </div>
        <div>
          <h2>Understand your customers.</h2>
          <p>Use Jobs to be Done Research to work out why some customers stick around and how to attract more of them. As well as why customers are leaving you and how to keep them.</p>
        </div>
      </div>
      <div class="column--flex-start">
        <div class="column__icons">
          <img src="{{ '/assets/img/competition.svg' | fingerprint }}" class="" alt=""/>
        </div>
        <div>
          <h2>Find out your true competition.</h2>
          <p>You would be surprised to learn who you are truly competing with and how those competitors might be solving your customers job better then you are. </p>
        </div>
    </div>
    <div class="column--flex-start">
        <div class="column__icons">
          <img src="{{ '/assets/img/job.svg' | fingerprint }}" class="" alt=""/>
        </div>
        <div>
          <h2>Innovate for new opportunities.</h2>
          <p>Find out where the pain points are in your customers journey and then innovate to improve or remove them.</p>
        </div>
    </div>
  </div>
  <div class="section--no-pad-top">
      <div class="column--flex-start">
        <div class="column__icons">
          <img src="{{ '/assets/img/market.svg' | fingerprint }}" class="" alt=""/>
        </div>
        <div>
          <h2>Better market your product.</h2>
          <p>Make sure you’re marketing communication and sales message aligns with the product you are building for your customers.</p>
        </div>
      </div>
      <div class="column--flex-start">
        <div class="column__icons">
          <img src="{{ '/assets/img/star.svg' | fingerprint }}" class="" alt=""/>
        </div>
        <div>
          <h2>Align your teams to a north star.</h2>
          <p>Use Jobs to be Done Research to align teams and give your company a north star to aim towards. Allow everyone to get on the same page and understands how their work fits in with the customers goals.</p>
        </div>
    </div>
    <div class="column--flex-start">
      <img class="column__img" src="{{ '/assets/img/undraw_teaching_f1cm.png' | fingerprint }}" alt=""/>
    </div>
  </div>
  <div class="section">
    {% include components/cta/index.html %}
  </div> 
</div>
