---
layout: default
---
<div class="group--midnight">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column">
      <h1 id="register" class="header__h1">Learn how turn customer research into products that people will buy.</h1>
      <p class="header__p">How can we create products that bring real value to users? Why do users choose one product over another? How do some products manage to disrupt and innovate while others stay stagnate? The answer lies in the ‘job’ a user is hiring a product to do.</p>

      <a href="/cart" class="button">Buy 11 Lessons</a>
    </div>

    <div class="column">
      <img src="{{ '/assets/img/jtbd_seminar.png' | fingerprint }}" class="header__img" alt=""/>
      <img src="{{ '/assets/img/jtbd_seminar_02.png' | fingerprint }}" class="header__img" alt=""/>
    </div>
  </div>

  <div class="section">
    <div class="column--single_3_4th">
      <h2>Who’s this for?</h2>
      <p>This is a practical guide for individuals looking to apply the Jobs-to-be-Done Theory. It’s suitable for anyone responsible for researching and facilitating product development. From designers in large established business to entrepreneurs starting out. The information is valuable for people creating software products, services or physical items. Some knowledge of the Jobs-to-be-Done theory will help, but it’s not essential.</p>

      <h2>What do you get?</h2>
      <p>This course includes access to 11 downloadable step-by-step lessons. It covers the fundamentals of Jobs-to-be-Done research and advanced detail on how to unlock your findings to drive innovation.</p>
    </div>
  </div>
</div>

<div class="diagonal--midnigth_white"></div>
<div class="group--white">
  <div class="section--rev_desk">
    <div class="column--flex">
      <div class="profile">
        <img src="{{ '/assets/img/profile_david.png' | fingerprint }}" alt="David Herse" class="profile__img"/>
        <p>David Herse</p>
        <div class="profile__social">
          <a href=""><img src="{{ '/assets/img/twitter-square.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href=""><img src="{{ '/assets/img/medium.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>
      <div class="profile">
        <img src="{{ '/assets/img/profile_greg.png' | fingerprint }}" alt="Greg Le Sueur" class="profile__img"/>
        <p>Greg Le Sueur</p>
        <div class="profile__social">
          <a href=""><img src="{{ '/assets/img/twitter-square.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href=""><img src="{{ '/assets/img/medium.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>
      
    </div>
    <div class="column--tight">
      <h3>Lessons from industry professionals</h3>
      <p>Dave and Greg have a combined experience of over 15 years in product development. Using their practical industry experience of Jobs-to-be-Done, they’ll take you step-by-step on how to turn your Jobs-to-be-Done interviews into successful products.</p>
    </div>
  </div>
</div>
<div class="group--yellow"></div>
<div class="diagonal--yellow_grey"></div>
<div class="group--grey"></div>
<div class="cta">
  <section>
    <h2>Register for free early access.</h2>
    <a href="#register" class="button">Register For Early Access</a>
  </section>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='PRODUCT';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
