---
layout: default
---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Jobs to be Done for Managers</h1>
      
        <h2>Teach your team how to create real value for customers.</h2>
        <p>How can you create things that provide real value to customers? Why do customers choose one product over another? How do some products manage to disrupt and innovate while others stay stagnate? How do you tip the probability of success in your favour?</p>

        <h2>A repeatable method that delivers results.</h2>
        <p>Jobs to be Done is a tool you use when you want to innovate a product or design a marketing strategy. It provides a repeatable method to understand how to create and sell things people love. Jobs to be Done research is all about tracing this journey, understanding the competing forces, considerations and context.</p>
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_team_spirit_hrr4.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
        <h1 id="register" class="column__h1--left_mobile">Enable a high-quality independent team</h1>
        <h2>Find clear guidance on how to grow through innovation.</h2>
        <p>Give your team the skills to self-direct and independently execute on opportunities. Learning Jobs to be Done Theory and its practical application gives them the tools they need to uncover a customers jobs. It helps them understand the competitive landscape, identify opportunities and articulate the findings with a common language and understanding.</p>

        <h2>Learn to uncover the Job your product is hired for.</h2>
        <p>When you understand the Jobs your product is hired for, it can inform your entire product and marketing strategy. You can be more strategic about where you focus your efforts, creating products and content that hits the mark for your customers.</p>
      
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_scrum_board_cesn.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Unify your teams direction</h1>
        <h2>Align your team and their goals.</h2>
        <p>Use Jobs to be Done research to align teams and give your company a north star to aim towards. Once you know why your customers are hiring your product, roadmaps and idea prioritisation become more obvious.</p>

        <h2>Clearly communicate your customers desired progress.</h2>
        <p>A Job has a particular structure to help focus on the situation, motivation and desired progress of a customer. This allow everyone to get on the same page and understands how their work fits in with the customers goals. This in turn leads to more coherent end-to-end customer solutions and support.</p>

    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_prototyping_process_rswj.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
            <h1 id="register" class="column__h1--left_mobile">Train your staff on effective research and ideation techniques</h1>

        <h2>Understand the tools that inspire.</h2>
        <p>Learn how to conduct valuable customer switch interviews. Understand how to define the customers job and put together Job Cards that will become the guides for product and marketing decisions. Gain the skills to how to run successful ideation workshops, create  prototypes and test your hypothesis.</p>

        <h2>Learn the process that identifies struggles.</h2>
        <p>Customers don’t randomly switch products. Either a better option comes along or something disrupts their routine. Understanding these forces not only helps you acquire users but retain them as well. It’s in the struggles of switching that you learn what is promoting and blocking progress. It’s here that you uncover the Job people are hiring your product, or your competitor's product, for.</p>
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_teaching_f1cm.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>
  
</div>


<div class="group--grey-light">
  {% include components/cta/index.html %}
</div>
