---
layout: default
---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Jobs to be Done for Marketers</h1>
      
        <h2>Provide real value to customers. </h2>
        <p>How can you create things that provide real value to customers? Why do customers choose one product over another? How do some products manage to disrupt and innovate while others stay stagnate? How do you tip the probability of success in our favour?</p>

        <h2>A repeatable method that delivers results.</h2>
        <p>Jobs to be Done is a tool you use when you want to design a marketing strategy. It provides a repeatable method to understand how to attract customers and sell things people love. Jobs to be Done research is all about tracing this journey, understanding the competing forces, considerations and context. It’s about understanding what you can do as marketers to nudge the customer to your solution.</p>
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_mobile_marketing_iqbr.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
        <h1 id="register" class="column__h1--left_mobile">Create effective marketing strategies</h1>
        <h2>Get to really know your customers.</h2>
        <p>The pushes to your product and the pull of your solution. The habits holding your customers back and the anxieties in their consideration set. Construct informed plans on how to reach, attracts, engage, educate and delight your customers at each point in their purchasing journey.</p>

        <h2>Understand the Job your product is hired for.</h2>
        <p>When you understand the Jobs your product is hired for, it can inform your entire go-to-market strategy. You can be more strategic about identifying the different channels, mediums, and tactics you want to use to reach your audience. </p>
      
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_social_life_4np1.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section">
    <div class="column">
      <h1 id="register" class="column__h1--left_mobile">Improve the sales of a product</h1>
        <h2>Speak your customers language.</h2>
        <p>Make sure you’re communication aligns with the product you are building for your customers. Increase customer acquisition and conversions by communicating using your customers own words.</p>

        <h2>Sell what you make. Make what you sell.</h2>
        <p>Often customer are not buying what the business thinks it sells them. Are you offering what you sell? Are you selling what you offer? Are you selling what they’re buying? Are they buying what you are selling?</p>

    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_conference_uo36.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>

  <div class="section--rev_end_desk">
    <div class="column">
            <h1 id="register" class="column__h1--left_mobile">Uncover why customers buy.</h1>

        <h2>Understand what makes customer switch and stick.</h2>
        <p>Use Jobs to be Done research to work out why some customers stick around and how to attract more of them. As well as why customers are leaving you and how to keep them.</p>

        <h2>Understand the forces at play.</h2>
        <p>Customers don’t randomly switch products. Either a better option comes along or something disrupts their routine. Understanding these forces not only helps you acquire users but retain them as well. It’s in the struggles of switching that you learn what is promoting and blocking progress. It’s here that you uncover the Job people are hiring your product, or your competitor's product, for.</p>
    </div>

    <div class="column--center">
      <img src="{{ '/assets/img/undraw_unboxing_pbmf.png' | fingerprint }}" class="column__img" alt=""/>
    </div>
  </div>
  
</div>


<div class="group--grey-light">
  {% include components/cta/index.html %}
</div>
