---
layout: default
---
<div class="group--midnight">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="form">
      <h1 id="register" class="header__h1">Reset Password</h1>
      <form action="/sign-in" method="post">
        <label for="mce-EMAIL">Email</label>
        <input type="text" name="email"/>
        <a href="/sign-in" class="button">Reset</a>
      </form>
      <a href="/sign-in" class="reset">Sign In</a>
    </div>
  </div>

</div>

<div class="diagonal--midnigth_grey"></div>



