---
layout: default
---
<div class="group--midnight">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column">
      <h1 id="register" class="header__h1">Group training to learn how to interview customer and turn them into products that people will buy.</h1>
      <p class="header__p">How can we create products that bring real value to users? Why do users choose one product over another? How do some products manage to disrupt and innovate while others stay stagnate? The answer lies in the ‘job’ a user is hiring a product to do.</p>
      <a href="/contact" class="button">Contact Us</a>
    </div>

    <div class="column">
      <img src="{{ '/assets/img/jtbd_seminar.png' | fingerprint }}" class="header__img" alt=""/>
      <img src="{{ '/assets/img/jtbd_seminar_02.png' | fingerprint }}" class="header__img" alt=""/>
    </div>
  </div>

</div>

<div class="diagonal--midnigth_white"></div>
{% include components/profiles/index.html %}
<div class="group--yellow">
  <div class="section--centre">
    <p class="guarantee">100% money back guarantee. If this does not help you create better products, we’ll give you your money back.</p>
    <a href="/contact" class="button--secondary_white">Contact us</a>
  </div>
</div>
<div class="diagonal--yellow_grey"></div>
